<!DOCTYPE html>
<html>
<head>
    <title><%=pageName%></title>
    <link rel="stylesheet"  type="text/css" href="/styles.css" />
</head>
<body>
    <h1><a class="home" href="/"><%=pageName%></a></h1>
    <p>At <%=pageName%> we believe that communication is key...</p>
</body>
</html>