<!DOCTYPE html>
<html>
<head>
    <title><%=pageName%></title>
    <link rel="stylesheet"  type="text/css" href="/styles.css" />
</head>
<body class="pre">
    <!--Header with Logo home button-->
    <h1><a class="home" href="/"><%=pageName%></a></h1>
    <div class="container">
        <div class="aboutContainer">
            <h3 id="opener">What is <%=pageName%>?</h3>
            <p id="mission">At <%=pageName%> we believe that communication is key. We also care deeply about education, so it has been our mission to make teacher-student relations as seamless as possible. Our service is used across a vast network of establishments, once your establishment signs up, you will be given an account don't even worry about having to sign up manually!</p>
        </div>
    </div>
</body>
</html>