<!doctype html>
<html>
  <head>
    <title><%=pageName%></title>
    <link rel="stylesheet"  type="text/css" href="/public/styles.css" />
  </head>
  <body class="pre">
    <!--Header with Logo home button-->
    <h1><a class="home" href="/"><%=pageName%></a></h1>
    <nav>
      <p><a href="about">About</a></p>
      <p><a href="login">Student Log in</a></p>
      <p><a href="staff-login">Staff Log in</a></p>
    </nav>
  </body>
</html>