<!doctype html>
<html>
  <head>
    <title><%=pageName%></title>
    <link rel="stylesheet"  type="text/css" href="/styles.css" />
  </head>
  <body>
    <h1><a class="home" href="/"><%=pageName%></a></h1>
    <p class="userId"> <%=userInfo.name%></p>
    <p><a href="about">About</a></p>
    <p><a href="communication">Start chatting</a></p>
    <p><a href="login">Login</a></p>
  </body>
</html>