<!DOCTYPE html>
<html>
<head>
    <title><%=pageName%></title>
    <link rel="stylesheet"  type="text/css" href="/styles.css" />
</head>
<body class="pre">
    <!--Header with Logo home button-->
    <h1><a class="staffHome" href="/"><%=pageName%></a></h1>
    <div class ="container">
        <form id=loginForm method="POST" action="/staff-home">
            <p>Email:</p>
            <input class="fields" id="Email" type="text" name="Email" placeholder="email"/>
            <p>Password:</p>
            <input class="fields" id="Pword" type="password" name="Pword" placeholder="password"/>
            <input id="button" type="submit" value="Log in"/>
        </form>
    </div>
</body>
</html>