<!DOCTYPE html>
<html>
<head>
    <title><%=pageName%></title>
    <link rel="stylesheet"  type="text/css" href="/styles.css" />
</head>
<body>
    <h1><a class="staffHome" href="/staff-home"><%=pageName%></a> <p class="welcome"> Welcome back <%=userInfo[0].name%></p></h1>
</body>
</html>